.App {
  text-align: center;
}

.title {
  background: #FF7F50;
  margin: 0;
}

.data {
  display: flex;
  gap: 20px;
  padding: 10px;
  justify-content: center;
}

.card-container {
  background: #9FE2BF;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
}

.card {
  flex: 1;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 250px;
  text-align: center;
}

.card h3 {
  margin: 0 0 10px;
}

.card p {
  margin: 5px 0;
  text-align: left;
}

.totalAmount, .totalRewardPoints, .month {
  display: flex;
  align-items: center;
  gap: 10px;
}

.totalAmount, .totalRewardPoints {
  justify-content: center;
}

.section {
  display: flex;
  gap: 20px;
  align-items: start;
  justify-content: center;
}